:root {
	--background-color: #202124;
	--background-color-elevated: hsl(228 6% 17% / 0.7);
	--background-color-button: rgb(138 180 248 / 0.1);
	--text-color: #e8eaed;
	--text-color-misc: rgba(255, 255, 255, 0.5);
	--accent-color: #8ab4f8;
	--accent-color-selection: #8ab4f8fe; /*+1 bit of transparency*/
	--header-font: "Ubuntu";
	--body-font: "Open Sans";
	--font-icon: "Material Icons";
	--main-content-width: 770px;
	--min-viewport-width: 240px;
	--border-color: hsl(0 0% 100% / 0.15);
	--ui-control-color-1: hsl(0 0% 30%);
	--ui-control-color-2: hsl(0 0% 40%);
	--ui-control-color-3: hsl(0 0% 50%);
	--ui-control-color-4: hsl(0 0% 60%);
}