:root {
	--background-color: #1d1e20;
	--background-color-elevated: #e0eaff11;
	--background-color-button: #e0eaff11;
	--background-color-transparent: #1d1e2000; /*required by safari*/
	--text-color: #e8eaed;
	--text-color-misc: rgba(255, 255, 255, 0.5);
	--accent-color: #ff7200;
	--accent-color-selection: #ff7200fe; /*+1 bit of transparency*/
	--header-font: "Poppins", sans-serif;
	--body-font: "Open Sans", sans-serif;
	--font-icon: "Material Icons";
	--main-content-width: 770px;
	--min-viewport-width: 240px;
	--border-color: hsl(0 0% 100% / 0.15);
	--ui-control-color-1: hsl(0 0% 30%);
	--ui-control-color-2: hsl(0 0% 40%);
	--ui-control-color-3: hsl(0 0% 50%);
	--ui-control-color-4: hsl(0 0% 60%);
}

/* @supports (backdrop-filter: blur(12px)) or (-webkit-backdrop-filter: blur(12px)) {} */