:root {
	--background-color: #1d1e20;
	--background-color-elevated: #2b2c31f0;
	--background-color-button: #2b2c31f0;
	--background-color-transparent: #1d1e2000; /*required by safari*/
	--text-color: #e8eaed;
	--text-color-misc: rgba(255, 255, 255, 0.5);
	--accent-color: #ff7200;
	--accent-color-selection: #ff7200fe; /*+1 bit of transparency*/
	--header-font: "Poppins", sans-serif;
	--body-font: "Open Sans", sans-serif;
	--font-icon: "Material Icons";
	--main-content-width: 770px;
	--min-viewport-width: 240px;
	--border-color: #ffffff26;
    --ui-control-color-1: #ffffff4d;
    --ui-control-color-2: #ffffff66;
    --ui-control-color-3: #ffffff80;
    --ui-control-color-4: #ffffff99;
}