body {
	background: url(/client/images/wallpaper.png);
	background-size: cover;
	background-position: center;
	--background-color: black;
	--background-color-button: rgb(138 180 248 / 0.1);
	--background-color-elevated: hsl(0deg 0% 0% / 48%);
	--ui-control-color-1: hsl(0 0% 100% / 0.3);
	--ui-control-color-2: hsl(0 0% 100% / 0.4);
	--ui-control-color-3: hsl(0 0% 100% / 0.5);
	--ui-control-color-4: hsl(0 0% 100% / 0.6);
}
.thread > .message {
	backdrop-filter: blur(20px);
}
.thread > .message.original {
	background: hsl(0deg 0% 0% / 60%);
	border: 1px solid #000000;
}
.thread > .message.reply {
	border: none;
	background: #00000054;
}
.thread > .message blockquote {
	background: #00000085;
	border: 1px solid #ffffff1f;
}
.thread > .stats {
	background: transparent;
	opacity: 1;
}