body>header {
    --header-horizontal-margin: 16px;
    padding: 0 16px;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 30;
    overflow: visible;
    top: 0;
    pointer-events: none;
}

body>header>* {
    display: inline-block;
	vertical-align: top;
	padding: 0;
    margin-top: 24px;
    margin-bottom: 0;
    max-width: calc( ( var(--main-content-width) / 2 ) - ( var(--header-horizontal-margin) * 2 ) );
}

body>header li {
    display: inline-block;
}

body>header>.breadcrumbs,
body>header>.tags a {
    -webkit-backdrop-filter: var(--background-filter-elevated);
    backdrop-filter: var(--background-filter-elevated);
    border-radius: 16px;
    background: var(--background-color-button);
    font-size: 12px;
	pointer-events: all;
}

body>header a {
    color: var(--text-color-misc);
}

body>header a:hover,
body>header a:active,
body>header a:focus {
    color: var(--accent-color);
}


@media (max-width: 500px) {
	body>header {
	    --header-horizontal-margin: 8px;
    }
	body>header>* {
        margin-top: 8px;
		margin-bottom: 0;
    }
}


@media (max-width: 770px) {
	body>header>* {
        max-width: 50%;
    }
}



/**breadcrumbs*/
body>header>.breadcrumbs {
    padding: 4px 12px;
    height: 32px;
    border-radius: 5px;
}
body>header>.breadcrumbs * {
    vertical-align: middle;
}

body>header>.breadcrumbs li:first-child a {
	color: transparent;
	background: url(/client/images/logo.svg);
	width: 115px;
	height: 25px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

body>header>.breadcrumbs li:after {
    content: '/';
    padding: 0 8px;
    color: var(--text-color-misc);
    display: inline-block;
    vertical-align: middle;
}

body>header>.breadcrumbs li:last-child:after {
    display: none;
}




/**tags*/
body>header>.tags {
    float: right;
    text-align: right;
    max-height: 86px;
}

body>header>.tags a {
    text-transform: lowercase;
    display: inline-block;
    padding: 5px 10px;
}

body>header>.tags a:before {
    content: '#';
    padding-right: 4px;
}