@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: local('Poppins Regular'), local('Poppins-Regular'), url(Poppins-Regular.woff) format('woff');
  }
  @font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(Poppins-SemiBold.woff) format('woff');
  }
  @font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: local('Poppins Bold'), local('Poppins-Bold'), url(Poppins-Bold.woff) format('woff');
  }